In [27]:
import tabula as tb
import pandas as pd
import numpy as np
import math

In [28]:
file = 'Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (400, 0, 733, 493), pages = '69')
df = data[0]
df.columns = np.arange(2)
jabar = df.iloc[1,:]
df = df.iloc[2:]
df

                               0   1
2                DKI Jakarta 228 NaN
3                 Jawa Timur 215 NaN
4                Jawa Tengah 152 NaN
5         Nusa Tenggara Timur 63 NaN
6              Sumatera Utara 50 NaN
7          Kalimantan Selatan 44 NaN
8              Sumatera Barat 37 NaN
9                    Bengkulu 35 NaN
10                       Bali 33 NaN
11           Kalimantan Timur 32 NaN
12           Sumatera Selatan 30 NaN
13           Sulawesi Selatan 29 NaN
14          Kalimantan Tengah 28 NaN
15              DI Yogyakarta 26 NaN
16           Kalimantan Barat 25 NaN
17        Nusa Tenggara Barat 20 NaN
18                     Banten 20 NaN
19                    Lampung 19 NaN
20          Sulawesi Tenggara 15 NaN
21                      Jambi 14 NaN
22                       Riau 14 NaN
23                      Papua 13 NaN
24             Kepulauan Riau 13 NaN
25                       Aceh 12 NaN
26  Kepulauan Bangka Belitung 10 NaN
27                   Gorontalo 8 NaN
28              Sulawesi Utara 8 NaN
29            Kalimantan Utara 8 NaN
30                Maluku Utara 7 NaN
31                      Maluku 6 NaN
32              Sulawesi Barat 4 NaN
33             Sulawesi Tengah 3 NaN
34                 Papua Barat 2 NaN

In [29]:
process = df.copy()
process[1] = process[0].str.split(' ').str[-1]
process[0] = process[0].str.split(' ').str[:-1].str.join(' ')
process

                            0    1
2                 DKI Jakarta  228
3                  Jawa Timur  215
4                 Jawa Tengah  152
5         Nusa Tenggara Timur   63
6              Sumatera Utara   50
7          Kalimantan Selatan   44
8              Sumatera Barat   37
9                    Bengkulu   35
10                       Bali   33
11           Kalimantan Timur   32
12           Sumatera Selatan   30
13           Sulawesi Selatan   29
14          Kalimantan Tengah   28
15              DI Yogyakarta   26
16           Kalimantan Barat   25
17        Nusa Tenggara Barat   20
18                     Banten   20
19                    Lampung   19
20          Sulawesi Tenggara   15
21                      Jambi   14
22                       Riau   14
23                      Papua   13
24             Kepulauan Riau   13
25                       Aceh   12
26  Kepulauan Bangka Belitung   10
27                  Gorontalo    8
28             Sulawesi Utara    8
29           Kalimantan Utara    8
30               Maluku Utara    7
31                     Maluku    6
32             Sulawesi Barat    4
33            Sulawesi Tengah    3
34                Papua Barat    2

In [30]:
concat = pd.concat([jabar.to_frame().T, process])
concat

                            0      1
1                  Jawa Barat  312.0
2                 DKI Jakarta    228
3                  Jawa Timur    215
4                 Jawa Tengah    152
5         Nusa Tenggara Timur     63
6              Sumatera Utara     50
7          Kalimantan Selatan     44
8              Sumatera Barat     37
9                    Bengkulu     35
10                       Bali     33
11           Kalimantan Timur     32
12           Sumatera Selatan     30
13           Sulawesi Selatan     29
14          Kalimantan Tengah     28
15              DI Yogyakarta     26
16           Kalimantan Barat     25
17        Nusa Tenggara Barat     20
18                     Banten     20
19                    Lampung     19
20          Sulawesi Tenggara     15
21                      Jambi     14
22                       Riau     14
23                      Papua     13
24             Kepulauan Riau     13
25                       Aceh     12
26  Kepulauan Bangka Belitung     10
27                  Gorontalo      8
28             Sulawesi Utara      8
29           Kalimantan Utara      8
30               Maluku Utara      7
31                     Maluku      6
32             Sulawesi Barat      4
33            Sulawesi Tengah      3
34                Papua Barat      2

In [31]:
final = concat.copy()
final[1] = final[1].astype(np.int_)
final.columns = ['provinsi', 'jumlah']
final.set_index('provinsi', inplace=True)
final

                           jumlah
provinsi
Jawa Barat                    312
DKI Jakarta                   228
Jawa Timur                    215
Jawa Tengah                   152
Nusa Tenggara Timur            63
Sumatera Utara                 50
Kalimantan Selatan             44
Sumatera Barat                 37
Bengkulu                       35
Bali                           33
Kalimantan Timur               32
Sumatera Selatan               30
Sulawesi Selatan               29
Kalimantan Tengah              28
DI Yogyakarta                  26
Kalimantan Barat               25
Nusa Tenggara Barat            20
Banten                         20
Lampung                        19
Sulawesi Tenggara              15
Jambi                          14
Riau                           14
Papua                          13
Kepulauan Riau                 13
Aceh                           12
Kepulauan Bangka Belitung      10
Gorontalo                       8
Sulawesi Utara                  8
Kalimantan Utara                8
Maluku Utara                    7
Maluku                          6
Sulawesi Barat                  4
Sulawesi Tengah                 3
Papua Barat                     2

In [32]:
final.to_csv('output/jumlah_lab.csv')