In [74]:
import tabula as tb
import pandas as pd
import numpy as np
import math

In [75]:
file = 'Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (90, 0, 412, 510), pages = '54')
df = data[0]
df.columns = np.arange(2)
jakarta = df.iloc[2,:]
df = df.iloc[3:]
df

                                0    1
3                        Bali 2,1  NaN
4                      Maluku 1,8  NaN
5            Kalimantan Timur 1,8  NaN
6                  Jawa Barat 1,7  NaN
7                      Banten 1,6  NaN
8               DI Yogyakarta 1,6  NaN
9          Kalimantan Selatan 1,5  NaN
10             Sumatera Barat 1,5  NaN
11                Jawa Tengah 1,5  NaN
12          Kalimantan Tengah 1,5  NaN
13        Nusa Tenggara Barat 1,5  NaN
14           Sulawesi Selatan 1,5  NaN
15                      Jambi 1,5  NaN
16                 Jawa Timur 1,5  NaN
17           Sumatera Selatan 1,4  NaN
18           Kalimantan Barat 1,4  NaN
19             Sulawesi Barat 1,4  NaN
20                   Bengkulu 1,4  NaN
21                    Lampung 1,4  NaN
22                       Riau 1,4  NaN
23  Kepulauan Bangka Belitung 1,4  NaN
24             Sumatera Utara 1,4  NaN
25          Sulawesi Tenggara 1,3  NaN
26        Nusa Tenggara Timur 1,3  NaN
27               Maluku Utara 1,3  NaN
28                       Aceh 1,2  NaN
29                  Gorontalo 1,2  NaN
30            Sulawesi Tengah 1,2  NaN
31             Kepulauan Riau 1,2  NaN
32             Sulawesi Utara 1,1  NaN
33           Kalimantan Utara 1,0  NaN
34                      Papua 0,8  NaN
35                Papua Barat 0,7  NaN

In [93]:
# df[2] = df[0].str.split(' ')
# df[2] = df[0].str.split(' ').str[-1].str.replace(',', '.')
process = df.copy()
process[1] = process[0].str.split(' ').str[-1]
process[0] = process[0].str.split(' ').str[:-1].str.join(' ')
process

                            0    1
3                        Bali  2,1
4                      Maluku  1,8
5            Kalimantan Timur  1,8
6                  Jawa Barat  1,7
7                      Banten  1,6
8               DI Yogyakarta  1,6
9          Kalimantan Selatan  1,5
10             Sumatera Barat  1,5
11                Jawa Tengah  1,5
12          Kalimantan Tengah  1,5
13        Nusa Tenggara Barat  1,5
14           Sulawesi Selatan  1,5
15                      Jambi  1,5
16                 Jawa Timur  1,5
17           Sumatera Selatan  1,4
18           Kalimantan Barat  1,4
19             Sulawesi Barat  1,4
20                   Bengkulu  1,4
21                    Lampung  1,4
22                       Riau  1,4
23  Kepulauan Bangka Belitung  1,4
24             Sumatera Utara  1,4
25          Sulawesi Tenggara  1,3
26        Nusa Tenggara Timur  1,3
27               Maluku Utara  1,3
28                       Aceh  1,2
29                  Gorontalo  1,2
30            Sulawesi Tengah  1,2
31             Kepulauan Riau  1,2
32             Sulawesi Utara  1,1
33           Kalimantan Utara  1,0
34                      Papua  0,8
35                Papua Barat  0,7

In [92]:
concat = pd.concat([jakarta.to_frame().T, process])
concat

                            0    1
2                 DKI Jakarta  7,2
3                        Bali  2,1
4                      Maluku  1,8
5            Kalimantan Timur  1,8
6                  Jawa Barat  1,7
7                      Banten  1,6
8               DI Yogyakarta  1,6
9          Kalimantan Selatan  1,5
10             Sumatera Barat  1,5
11                Jawa Tengah  1,5
12          Kalimantan Tengah  1,5
13        Nusa Tenggara Barat  1,5
14           Sulawesi Selatan  1,5
15                      Jambi  1,5
16                 Jawa Timur  1,5
17           Sumatera Selatan  1,4
18           Kalimantan Barat  1,4
19             Sulawesi Barat  1,4
20                   Bengkulu  1,4
21                    Lampung  1,4
22                       Riau  1,4
23  Kepulauan Bangka Belitung  1,4
24             Sumatera Utara  1,4
25          Sulawesi Tenggara  1,3
26        Nusa Tenggara Timur  1,3
27               Maluku Utara  1,3
28                       Aceh  1,2
29                  Gorontalo  1,2
30            Sulawesi Tengah  1,2
31             Kepulauan Riau  1,2
32             Sulawesi Utara  1,1
33           Kalimantan Utara  1,0
34                      Papua  0,8
35                Papua Barat  0,7

In [95]:
final = concat.copy()
final[1] = final[1].str.replace(',', '.', regex=False).astype(np.double)
final.columns = ['provinsi', 'rasio']
final

                     provinsi  rasio
2                 DKI Jakarta    7.2
3                        Bali    2.1
4                      Maluku    1.8
5            Kalimantan Timur    1.8
6                  Jawa Barat    1.7
7                      Banten    1.6
8               DI Yogyakarta    1.6
9          Kalimantan Selatan    1.5
10             Sumatera Barat    1.5
11                Jawa Tengah    1.5
12          Kalimantan Tengah    1.5
13        Nusa Tenggara Barat    1.5
14           Sulawesi Selatan    1.5
15                      Jambi    1.5
16                 Jawa Timur    1.5
17           Sumatera Selatan    1.4
18           Kalimantan Barat    1.4
19             Sulawesi Barat    1.4
20                   Bengkulu    1.4
21                    Lampung    1.4
22                       Riau    1.4
23  Kepulauan Bangka Belitung    1.4
24             Sumatera Utara    1.4
25          Sulawesi Tenggara    1.3
26        Nusa Tenggara Timur    1.3
27               Maluku Utara    1.3
28                       Aceh    1.2
29                  Gorontalo    1.2
30            Sulawesi Tengah    1.2
31             Kepulauan Riau    1.2
32             Sulawesi Utara    1.1
33           Kalimantan Utara    1.0
34                      Papua    0.8
35                Papua Barat    0.7

In [97]:
final.to_csv('output/rasio_puskesmas.csv', index=False)