In [2]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

['Any',
 'CSVParseError',
 'DEFAULT_CONFIG',
 'Dict',
 'FileLikeObj',
 'Iterable',
 'JAR_DIR',
 'JAR_NAME',
 'JAVA_NOT_FOUND_ERROR',
 'JavaNotFoundError',
 'List',
 'Optional',
 'TABULA_JAVA_VERSION',
 'TabulaOption',
 'Tuple',
 'Union',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_build_java_options',
 '_convert_pandas_csv_options',
 '_extract_format_for_conversion',
 '_extract_from',
 '_jar_path',
 '_run',
 'asdict',
 'convert_into',
 'convert_into_by_batch',
 'defaultdict',
 'errno',
 'getLogger',
 'io',
 'json',
 'load_template',
 'localize_file',
 'logger',
 'np',
 'os',
 'pd',
 'platform',
 'read_pdf',
 'read_pdf_with_template',
 'shlex',
 'subprocess']

In [17]:
file = 'Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (350, 0, 690, 510), pages = '55')
df = data[0]
df.columns = np.arange(2)
# jakarta = df.iloc[2,:]
df = df.iloc[1:]
df

                            0      1
1                   Indonesia   89,7
2            Kalimantan Utara  100,0
3                        Bali  100,0
4               DI Yogyakarta  100,0
5   Kepulauan Bangka Belitung  100,0
6                    Bengkulu  100,0
7                  Jawa Timur   99,5
8                 Jawa Tengah   99,4
9                   Gorontalo   98,9
10         Kalimantan Selatan   98,7
11           Sulawesi Selatan   98,5
12             Sumatera Barat   98,2
13           Kalimantan Timur   97,3
14           Sumatera Selatan   97,1
15            Sulawesi Tengah   95,7
16                 Jawa Barat   94,9
17                    Lampung   94,9
18          Kalimantan Tengah   94,6
19             Kepulauan Riau   94,3
20                     Banten   94,3
21        Nusa Tenggara Barat   93,7
22           Kalimantan Barat   93,5
23                       Aceh   92,8
24                       Riau   92,6
25             Sumatera Utara   91,9
26                      Jambi   90,8
27          Sulawesi Tenggara   90,1
28        Nusa Tenggara Timur   89,5
29             Sulawesi Barat   88,5
30             Sulawesi Utara   86,7
31          Maluku Utara 76,9    NaN
32                Maluku 72,6    NaN
33           DKI Jakarta 47,9    NaN
34           Papua Barat 44,7    NaN
35                 Papua 28,0    NaN

In [19]:
# df[2] = df[0].str.split(' ')
# df[2] = df[0].str.split(' ').str[-1].str.replace(',', '.')
process = df.copy()
process[1] = process[0].str.split(' ').str[-1]
process[0] = process[0].str.split(' ').str[:-1].str.join(' ')
process

                            0           1
1                   Indonesia   Indonesia
2            Kalimantan Utara       Utara
3                        Bali        Bali
4               DI Yogyakarta  Yogyakarta
5   Kepulauan Bangka Belitung    Belitung
6                    Bengkulu    Bengkulu
7                  Jawa Timur       Timur
8                 Jawa Tengah      Tengah
9                   Gorontalo   Gorontalo
10         Kalimantan Selatan     Selatan
11           Sulawesi Selatan     Selatan
12             Sumatera Barat       Barat
13           Kalimantan Timur       Timur
14           Sumatera Selatan     Selatan
15            Sulawesi Tengah      Tengah
16                 Jawa Barat       Barat
17                    Lampung     Lampung
18          Kalimantan Tengah      Tengah
19             Kepulauan Riau        Riau
20                     Banten      Banten
21        Nusa Tenggara Barat       Barat
22           Kalimantan Barat       Barat
23                       Aceh        Aceh
24                       Riau        Riau
25             Sumatera Utara       Utara
26                      Jambi       Jambi
27          Sulawesi Tenggara    Tenggara
28        Nusa Tenggara Timur       Timur
29             Sulawesi Barat       Barat
30             Sulawesi Utara       Utara
31          Maluku Utara 76,9        76,9
32                Maluku 72,6        72,6
33           DKI Jakarta 47,9        47,9
34           Papua Barat 44,7        44,7
35                 Papua 28,0        28,0

In [4]:
concat = pd.concat([jakarta.to_frame().T, process])
concat

                            0    1
2                 DKI Jakarta  7,2
3                        Bali  2,1
4                      Maluku  1,8
5            Kalimantan Timur  1,8
6                  Jawa Barat  1,7
7                      Banten  1,6
8               DI Yogyakarta  1,6
9          Kalimantan Selatan  1,5
10             Sumatera Barat  1,5
11                Jawa Tengah  1,5
12          Kalimantan Tengah  1,5
13        Nusa Tenggara Barat  1,5
14           Sulawesi Selatan  1,5
15                      Jambi  1,5
16                 Jawa Timur  1,5
17           Sumatera Selatan  1,4
18           Kalimantan Barat  1,4
19             Sulawesi Barat  1,4
20                   Bengkulu  1,4
21                    Lampung  1,4
22                       Riau  1,4
23  Kepulauan Bangka Belitung  1,4
24             Sumatera Utara  1,4
25          Sulawesi Tenggara  1,3
26        Nusa Tenggara Timur  1,3
27               Maluku Utara  1,3
28                       Aceh  1,2
29                  Gorontalo  1,2
30            Sulawesi Tengah  1,2
31             Kepulauan Riau  1,2
32             Sulawesi Utara  1,1
33           Kalimantan Utara  1,0
34                      Papua  0,8
35                Papua Barat  0,7

In [6]:
final = concat.copy()
final[1] = final[1].str.replace(',', '.', regex=False).astype(np.double)
final.columns = ['provinsi', 'rasio']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                           rasio
provinsi
DKI Jakarta                  7.2
Bali                         2.1
Maluku                       1.8
Kalimantan Timur             1.8
Jawa Barat                   1.7
Banten                       1.6
DI Yogyakarta                1.6
Kalimantan Selatan           1.5
Sumatera Barat               1.5
Jawa Tengah                  1.5
Kalimantan Tengah            1.5
Nusa Tenggara Barat          1.5
Sulawesi Selatan             1.5
Jambi                        1.5
Jawa Timur                   1.5
Sumatera Selatan             1.4
Kalimantan Barat             1.4
Sulawesi Barat               1.4
Bengkulu                     1.4
Lampung                      1.4
Riau                         1.4
Kepulauan Bangka Belitung    1.4
Sumatera Utara               1.4
Sulawesi Tenggara            1.3
Nusa Tenggara Timur          1.3
Maluku Utara                 1.3
Aceh                         1.2
Gorontalo                    1.2
Sulawesi Tengah              1.2
Kepulauan Riau               1.2
Sulawesi Utara               1.1
Kalimantan Utara             1.0
Papua                        0.8
Papua Barat                  0.7

In [7]:
final.to_csv('output/rasio_puskesmas.csv')