In [2]:
import tabula.io as tb
import pandas as pd
import numpy as np
import math

In [8]:
file = 'Profil-Kesehatan-2021.pdf'
# file = 'https://github.com/dyanmg/health-data-analysis/raw/master/Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tb.read_pdf(file, area = (30, 0, 530, 480), pages = '76')
df = data[0]
df.columns = np.arange(1)
# jakarta = df.iloc[2,:]
# df = df.iloc[16:]
df

df[1] = df[0].str.split(' ').str[-1]
df[0] = df[0].str.split(' ').str[:-1].str.join(' ')
df = df[3:]
df

# concat = df.copy()
# split = concat[0].str.split(' ')
# isna = concat[1].isna()
# concat.loc[isna, 1] = split.str[-1]
# concat.loc[isna, 0] = split.str[:-1].str.join(' ') 
# concat = concat[2:]
# concat

                            0    1
3                  Jawa Barat  317
4                 DKI Jakarta  233
5                  Jawa Timur  217
6                 Jawa Tengah  154
7         Nusa Tenggara Timur   62
8              Sumatera Utara   52
9          Kalimantan Selatan   46
10             Sumatera Barat   37
11                       Bali   35
12           Sulawesi Selatan   34
13           Kalimantan Timur   34
14                   Bengkulu   34
15          Kalimantan Tengah   30
16              DI Yogyakarta   27
17           Sumatera Selatan   25
18           Kalimantan Barat   24
19                     Banten   24
20        Nusa Tenggara Barat   20
21                    Lampung   20
22          Sulawesi Tenggara   16
23             Kepulauan Riau   14
24                       Riau   14
25                      Papua   13
26                      Jambi   12
27                       Aceh   12
28  Kepulauan Bangka Belitung   11
29               Maluku Utara    9
30             Sulawesi Utara    9
31                  Gorontalo    8
32                     Maluku    6
33           Kalimantan Utara    6
34             Sulawesi Barat    4
35            Sulawesi Tengah    3
36                Papua Barat    2

In [49]:
# df[2] = df[0].str.split(' ')
# df[2] = df[0].str.split(' ').str[-1].str.replace(',', '.')
# process = df.copy()
# process['Gabung'] = process[0] + " " + process[1].fillna('')
# process[0]

#process[1] = process[0].str.split(' ').str[-1]
#process[0] = process[0].str.split(' ').str[:-1].str.join(' ')
# process

# concat = df.copy()
# split = concat[0].str.split(' ')
# isna = concat[1].isna()
# concat.loc[isna, 1] = split.str[-1]
# concat.loc[isna, 0] = split.str[:-1].str.join(' ')
# concat

                            0      1
1                   Indonesia   89,7
2            Kalimantan Utara  100,0
3                        Bali  100,0
4               DI Yogyakarta  100,0
5   Kepulauan Bangka Belitung  100,0
6                    Bengkulu  100,0
7                  Jawa Timur   99,5
8                 Jawa Tengah   99,4
9                   Gorontalo   98,9
10         Kalimantan Selatan   98,7
11           Sulawesi Selatan   98,5
12             Sumatera Barat   98,2
13           Kalimantan Timur   97,3
14           Sumatera Selatan   97,1
15            Sulawesi Tengah   95,7
16                 Jawa Barat   94,9
17                    Lampung   94,9
18          Kalimantan Tengah   94,6
19             Kepulauan Riau   94,3
20                     Banten   94,3
21        Nusa Tenggara Barat   93,7
22           Kalimantan Barat   93,5
23                       Aceh   92,8
24                       Riau   92,6
25             Sumatera Utara   91,9
26                      Jambi   90,8
27          Sulawesi Tenggara   90,1
28        Nusa Tenggara Timur   89,5
29             Sulawesi Barat   88,5
30             Sulawesi Utara   86,7
31               Maluku Utara   76,9
32                     Maluku   72,6
33                DKI Jakarta   47,9
34                Papua Barat   44,7
35                      Papua   28,0

In [60]:
# concat = pd.concat([concat.to_frame().T, process])
# concat

In [10]:
final = df.copy()
# final[1] = final[1].str.replace(',', '.', regex=False).astype(np.double)
final.columns = ['provinsi', 'Jumlah Laboratorium Kesehatan']
# final.reset_index(drop=True, inplace=True)
final.set_index('provinsi', inplace=True)
final

                          Jumlah Laboratorium Kesehatan
provinsi
Jawa Barat                                          317
DKI Jakarta                                         233
Jawa Timur                                          217
Jawa Tengah                                         154
Nusa Tenggara Timur                                  62
Sumatera Utara                                       52
Kalimantan Selatan                                   46
Sumatera Barat                                       37
Bali                                                 35
Sulawesi Selatan                                     34
Kalimantan Timur                                     34
Bengkulu                                             34
Kalimantan Tengah                                    30
DI Yogyakarta                                        27
Sumatera Selatan                                     25
Kalimantan Barat                                     24
Banten                                               24
Nusa Tenggara Barat                                  20
Lampung                                              20
Sulawesi Tenggara                                    16
Kepulauan Riau                                       14
Riau                                                 14
Papua                                                13
Jambi                                                12
Aceh                                                 12
Kepulauan Bangka Belitung                            11
Maluku Utara                                          9
Sulawesi Utara                                        9
Gorontalo                                             8
Maluku                                                6
Kalimantan Utara                                      6
Sulawesi Barat                                        4
Sulawesi Tengah                                       3
Papua Barat                                           2

In [11]:
final.to_csv('output/2021_Jumlah_Laboratorium_Kesehatan.csv')