In [ ]:
import tabula
import pandas

In [13]:
file = 'Profil-Kesehatan-Indonesia-Tahun-2020.pdf'
data = tabula.read_pdf(file, area = (430, 94, 746, 518), pages = '38')
data

[                              0                   1           2   3  \
 0                           NaN                 NaN   Laki-Laki NaN
 1                   Lahir Hidup                   -           - NaN
 2                          Bayi             0 Tahun   2.381.409 NaN
 3     Batita (Bawah Tiga Tahun)         0 – 2 Tahun   7.161.120 NaN
 4                   Anak Balita         1 – 4 Tahun   9.598.795 NaN
 5     Balita (Bawah Lima Tahun)         0 – 4 Tahun  11.980.204 NaN
 6                   Pra Sekolah         5 – 6 Tahun   4.857.859 NaN
 7             Anak Usia Kelas 1                 NaN         NaN NaN
 8                           NaN             7 Tahun   2.442.881 NaN
 9                  SD/Setingkat                 NaN         NaN NaN
 10       Anak Usia SD/Setingkat        7 – 12 Tahun  14.567.981 NaN
 11           Penduduk Usia Muda          < 15 Tahun  36.130.351 NaN
 12      Penduduk Usia Produktif       15 – 64 Tahun  92.188.550 NaN
 13            Penduduk Usia Non                 NaN         NaN NaN
 14                          NaN          ≥ 65 Tahun   7.823.600 NaN
 15                    Produktif                 NaN         NaN NaN
 16         Penduduk Usia Lanjut          ≥ 60 Tahun  12.912.675 NaN
 17  Penduduk Usia Lanjut Risiko                 NaN         NaN NaN
 18                          NaN          ≥ 70 Tahun   4.295.664 NaN
 19                       Tinggi                 NaN         NaN NaN
 20      Wanita Usia Subur (WUS)       15 – 49 Tahun           - NaN
 21                          NaN                 NaN         NaN NaN
 22  Wanita Usia Subur Imunisasi       15 – 39 Tahun           - NaN
 23                          NaN                 NaN         NaN NaN
 24                    Ibu Hamil   1,1 x lahir hidup           - NaN
 25           Ibu Bersalin/Nifas  1,05 x lahir hidup           - NaN

              4            5
 0    Perempuan          NaN
 1            -    4.747.077
 2    2.280.969    4.662.378
 3    6.866.989   14.028.109
 4    9.214.585   18.813.380
 5   11.495.554   23.475.758
 6    4.670.547    9.573.353
 7          NaN          NaN
 8    2.350.677    4.793.558
 9          NaN          NaN
 10  13.927.519   28.495.500
 11  34.579.453   70.709.804
 12  91.328.851  183.517.401
 13         NaN          NaN
 14   9.015.561   16.839.161
 15         NaN          NaN
 16  14.175.078   27.087.753
 17         NaN          NaN
 18   5.413.455    9.709.119
 19         NaN          NaN
 20  71.570.465   71.570.465
 21  52.779.457   52.779.457
 22         NaN          NaN
 23         NaN          NaN
 24         NaN    5.221.784
 25         NaN          NaN  ]

In [21]:
df = data[0]
df

,0,1,2,3,4,5
0,NaN,NaN,Laki-Laki,NaN,Perempuan,NaN
1,Lahir Hidup,-,-,NaN,-,4.747.077
2,Bayi,0 Tahun,2.381.409,NaN,2.280.969,4.662.378
3,Batita (Bawah Tiga Tahun),0 – 2 Tahun,7.161.120,NaN,6.866.989,14.028.109
4,Anak Balita,1 – 4 Tahun,9.598.795,NaN,9.214.585,18.813.380
5,Balita (Bawah Lima Tahun),0 – 4 Tahun,11.980.204,NaN,11.495.554,23.475.758
6,Pra Sekolah,5 – 6 Tahun,4.857.859,NaN,4.670.547,9.573.353
7,Anak Usia Kelas 1,NaN,NaN,NaN,NaN,NaN
8,NaN,7 Tahun,2.442.881,NaN,2.350.677,4.793.558
9,SD/Setingkat,NaN,NaN,NaN,NaN,NaN
10,Anak Usia SD/Setingkat,7 – 12 Tahun,14.567.981,NaN,13.927.519,28.495.500
11,Penduduk Usia Muda,< 15 Tahun,36.130.351,NaN,34.579.453,70.709.804
12,Penduduk Usia Produktif,15 – 64 Tahun,92.188.550,NaN,91.328.851,183.517.401
13,Penduduk Usia Non,NaN,NaN,NaN,NaN,NaN
14,NaN,≥ 65 Tahun,7.823.600,NaN,9.015.561,16.839.161
15,Produktif,NaN,NaN,NaN,NaN,NaN
16,Penduduk Usia Lanjut,≥ 60 Tahun,12.912.675,NaN,14.175.078,27.087.753
17,Penduduk Usia Lanjut Risiko,NaN,NaN,NaN,NaN,NaN
18,NaN,≥ 70 Tahun,4.295.664,NaN,5.413.455,9.709.119
19,Tinggi,NaN,NaN,NaN,NaN,NaN
20,Wanita Usia Subur (WUS),15 – 49 Tahun,-,NaN,71.570.465,71.570.465
21,NaN,NaN,NaN,NaN,52.779.457,52.779.457
22,Wanita Usia Subur Imunisasi,15 – 39 Tahun,-,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN
24,Ibu Hamil,"1,1 x lahir hidup",-,NaN,NaN,5.221.784
25,Ibu Bersalin/Nifas,"1,05 x lahir hidup",-,NaN,NaN,NaN

In [29]:
clean = df[[0,1,2,4,5]].iloc[1:]
clean

,0,1,2,4,5
1,Lahir Hidup,-,-,-,4.747.077
2,Bayi,0 Tahun,2.381.409,2.280.969,4.662.378
3,Batita (Bawah Tiga Tahun),0 – 2 Tahun,7.161.120,6.866.989,14.028.109
4,Anak Balita,1 – 4 Tahun,9.598.795,9.214.585,18.813.380
5,Balita (Bawah Lima Tahun),0 – 4 Tahun,11.980.204,11.495.554,23.475.758
6,Pra Sekolah,5 – 6 Tahun,4.857.859,4.670.547,9.573.353
7,Anak Usia Kelas 1,NaN,NaN,NaN,NaN
8,NaN,7 Tahun,2.442.881,2.350.677,4.793.558
9,SD/Setingkat,NaN,NaN,NaN,NaN
10,Anak Usia SD/Setingkat,7 – 12 Tahun,14.567.981,13.927.519,28.495.500
11,Penduduk Usia Muda,< 15 Tahun,36.130.351,34.579.453,70.709.804
12,Penduduk Usia Produktif,15 – 64 Tahun,92.188.550,91.328.851,183.517.401
13,Penduduk Usia Non,NaN,NaN,NaN,NaN
14,NaN,≥ 65 Tahun,7.823.600,9.015.561,16.839.161
15,Produktif,NaN,NaN,NaN,NaN
16,Penduduk Usia Lanjut,≥ 60 Tahun,12.912.675,14.175.078,27.087.753
17,Penduduk Usia Lanjut Risiko,NaN,NaN,NaN,NaN
18,NaN,≥ 70 Tahun,4.295.664,5.413.455,9.709.119
19,Tinggi,NaN,NaN,NaN,NaN
20,Wanita Usia Subur (WUS),15 – 49 Tahun,-,71.570.465,71.570.465
21,NaN,NaN,NaN,52.779.457,52.779.457
22,Wanita Usia Subur Imunisasi,15 – 39 Tahun,-,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN
24,Ibu Hamil,"1,1 x lahir hidup",-,NaN,5.221.784
25,Ibu Bersalin/Nifas,"1,05 x lahir hidup",-,NaN,NaN

In [32]:
list = []
for index, row in clean.iterrows():
    list.append(row)
list

[0          NaN
 1          NaN
 2    Laki-Laki
 3          NaN
 4    Perempuan
 5          NaN
 Name: 0, dtype: object,
 0    Lahir Hidup
 1              -
 2              -
 3            NaN
 4              -
 5      4.747.077
 Name: 1, dtype: object,
 0         Bayi
 1      0 Tahun
 2    2.381.409
 3          NaN
 4    2.280.969
 5    4.662.378
 Name: 2, dtype: object,
 0    Batita (Bawah Tiga Tahun)
 1                  0 – 2 Tahun
 2                    7.161.120
 3                          NaN
 4                    6.866.989
 5                   14.028.109
 Name: 3, dtype: object,
 0    Anak Balita
 1    1 – 4 Tahun
 2      9.598.795
 3            NaN
 4      9.214.585
 5     18.813.380
 Name: 4, dtype: object,
 0    Balita (Bawah Lima Tahun)
 1                  0 – 4 Tahun
 2                   11.980.204
 3                          NaN
 4                   11.495.554
 5                   23.475.758
 Name: 5, dtype: object,
 0    Pra Sekolah
 1    5 – 6 Tahun
 2      4.857.859
 3            NaN
 4      4.670.547
 5      9.573.353
 Name: 6, dtype: object,
 0    Anak Usia Kelas 1
 1                  NaN
 2                  NaN
 3                  NaN
 4                  NaN
 5                  NaN
 Name: 7, dtype: object,
 0          NaN
 1      7 Tahun
 2    2.442.881
 3          NaN
 4    2.350.677
 5    4.793.558
 Name: 8, dtype: object,
 0    SD/Setingkat
 1             NaN
 2             NaN
 3             NaN
 4             NaN
 5             NaN
 Name: 9, dtype: object,
 0    Anak Usia SD/Setingkat
 1              7 – 12 Tahun
 2                14.567.981
 3                       NaN
 4                13.927.519
 5                28.495.500
 Name: 10, dtype: object,
 0    Penduduk Usia Muda
 1            < 15 Tahun
 2            36.130.351
 3                   NaN
 4            34.579.453
 5            70.709.804
 Name: 11, dtype: object,
 0    Penduduk Usia Produktif
 1              15 – 64 Tahun
 2                 92.188.550
 3                        NaN
 4                 91.328.851
 5                183.517.401
 Name: 12, dtype: object,
 0    Penduduk Usia Non
 1                  NaN
 2                  NaN
 3                  NaN
 4                  NaN
 5                  NaN
 Name: 13, dtype: object,
 0           NaN
 1    ≥ 65 Tahun
 2     7.823.600
 3           NaN
 4     9.015.561
 5    16.839.161
 Name: 14, dtype: object,
 0    Produktif
 1          NaN
 2          NaN
 3          NaN
 4          NaN
 5          NaN
 Name: 15, dtype: object,
 0    Penduduk Usia Lanjut
 1              ≥ 60 Tahun
 2              12.912.675
 3                     NaN
 4              14.175.078
 5              27.087.753
 Name: 16, dtype: object,
 0    Penduduk Usia Lanjut Risiko
 1                            NaN
 2                            NaN
 3                            NaN
 4                            NaN
 5                            NaN
 Name: 17, dtype: object,
 0           NaN
 1    ≥ 70 Tahun
 2     4.295.664
 3           NaN
 4     5.413.455
 5     9.709.119
 Name: 18, dtype: object,
 0    Tinggi
 1       NaN
 2       NaN
 3       NaN
 4       NaN
 5       NaN
 Name: 19, dtype: object,
 0    Wanita Usia Subur (WUS)
 1              15 – 49 Tahun
 2                          -
 3                        NaN
 4                 71.570.465
 5                 71.570.465
 Name: 20, dtype: object,
 0           NaN
 1           NaN
 2           NaN
 3           NaN
 4    52.779.457
 5    52.779.457
 Name: 21, dtype: object,
 0    Wanita Usia Subur Imunisasi
 1                  15 – 39 Tahun
 2                              -
 3                            NaN
 4                            NaN
 5                            NaN
 Name: 22, dtype: object,
 0    NaN
 1    NaN
 2    NaN
 3    NaN
 4    NaN
 5    NaN
 Name: 23, dtype: object,
 0            Ibu Hamil
 1    1,1 x lahir hidup
 2                    -
 3                  NaN
 4                  NaN
 5            5.221.784
 Name: 24, dtype: object,
 0    Ibu Bersalin/Nifas
 1    1,05 x lahir hidup
 2                     -
 3                   NaN
 4                   NaN
 5                   NaN
 Name: 25, dtype: object]